# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
angular-src/dist
angular-src/tmp
angular-src/out-tsc

# dependencies
/node_modules
angular-src/node_modules

# IDEs and editors
angular-src/.idea
angular-src/.project
angular-src/.classpath
angular-src/.c9/
angular-src/*.launch
angular-src/.settings/
angular-src/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
README2.txt
